Adafruit_ADS1x15==1.0.2
board==1.0
colorama==0.4.6
Flask==2.2.5
flask_socketio==5.5.1
hx711==1.1.2.3
matplotlib==3.7.2
ntplib==0.4.0
ntpLIB==0.4.0
paho_mqtt==2.1.0
pn532pi==1.7
psutil==5.9.6
PyYAML==6.0.3
qrcode==8.2
schedule==1.2.2
