adafruit-circuitpython-ds3231==2.4.23
adafruit-circuitpython-ads1x15==2.4.2
board==1.0
Flask==2.2.5
hx711==1.1.2.3
ntplib==0.4.0
psutil==5.9.6
PyYAML==6.0.2
schedule==1.2.2
colorama==0.4.6
sqlite-web==0.6.4